<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">ProjectTest</a>
        <button class="navbar-toggler" type="button" data-toggle="#mobile-nav"><span class="navbar-toggle-icon"></span></button>
        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ path('article_list') }}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('new_article') }}" class="nav-link">New Article</a>
                </li>
                <li class="nav-item btn btn-primary">
                    <a href="{{ path('app_login') }}" class="nav-link">Login</a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item btn btn-primary float-right">
                    <a href="{{ path('app_logout') }}" class="nav-link">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>